#menu {
    background-color: rgba(249, 249, 249, 0.78);
    padding: 20px 0;
}

#menu img {
    width: 40px;
    background-color: lime;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) { 

 }

@media (min-width: 992px) {
    #left {
        display: none;
    }
}

@media (min-width: 1200px) {
    #left {
        display: none;
    }
}