#menu {
    background-color: blue;
}

@media (min-width: 576px) {  }

@media (min-width: 768px) { 

 }

@media (min-width: 992px) {
    #left {
        display: none;
    }
}

@media (min-width: 1200px) {
    #left {
        display: none;
    }
}