@font-face {
  font-family: "Roboto:300,400";
  src: url("Roboto:300,400"); }

@font-face {
  font-family: "Roboto";
  src: url("Roboto"); }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

body {
  padding: 0 15px; }

#menu {
  background-color: rgba(249, 249, 249, 0.78);
  padding: 20px 0; }
  #menu img {
    width: 40px;
    height: 40px; }
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    #menu {
      display: none; } }
